{% extends "layout.html" %}

{% block title %}
    Nuevo Tema
{% endblock %}


{% block contenido %}
<br><br>
<h2>Crear nuevo Tema</h2>
            <form class="row mt-5" method="post" action="{% url 'wikiApp:nuevoTema' %}">  
                {% csrf_token %} 
                <div>
                    <label>Ingresar Tema</label>
                    <input type="text" name="nombre" class="form-control form-control-sm">
                </div>
                <div>
                    <label>Descripcion Tema</label>
                    <textarea class="form-control" name="descripcion" rows="3" class="form-control form-control-lg">
                </textarea>
                    </div>
                <div>
                    <input type="submit" value="Registrar">
                </div>
            </form>
{% endblock %}