{% extends "layout.html" %}

{% block title %}
    Nuevo Tema
{% endblock %}


{% block contenido %}
<h2>Crear nuevo Tema</h2>
            <form class="row">   
                <div>
                    <label>Ingresar Tema</label>
                    <input type="text" name="nombreTema">
                </div>
                <div>
                    <label>Descripcion Tema</label>
                    <input type="text" name="descripcionTema">
                </div>
                <div>
                    <input type="submit" value="Registrar">
                </div>
            </form>
{% endblock %}